@using Microsoft.AspNet.Identity

<ul class="nav navbar-top-links navbar-right">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
                <li>
                    <a href="/Manage">@("Привет " + User.Identity.GetUserName() + "!").ToString()</a>
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Выход</a></li>
        }
    }
    else
    {
            <li><a href="/Account/Register" id="registerLink"><i class="fa fa-user"></i>Зарегистрироваться</a></li>
            <li><a href="/Account/Login" id="loginLink"><i class="fa fa-sign-in"></i>Войти</a></li>
    }
</ul>