@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    <form action="/Account/LogOff" method="post" id="logoutForm">
        @Html.AntiForgeryToken()
        <div class="account-menu pull-right">
            <a href="/Manage" id="registerLink"><i></i>@("Привет " + User.Identity.Name + "!")</a>
            <a href="javascript:document.getElementById('logoutForm').submit()" id="loginLink">
                <i class="fa fa-sign-out"></i>Выход
            </a>
        </div>
    </form>        
}
else
{
    <div class="account-menu">
        <a href="/Account/Register"><i class="fa fa-user"></i> Зарегистрироваться</a>
        <a href="/Account/Login"><i class="fa fa-sign-in"></i> Войти</a>
    </div>
}
