@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    <form action="Account/LogOff" method="post" id="logoutForm">
        <ul class="nav navbar-top-links navbar-account">
            <li>
                <a href="/Manage" id="registerLink"><i></i>@("Привет " + User.Identity.Name + "!")</a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" id="loginLink">
                <i class="fa fa-sign-out"></i>Выход</a>
            </li>
        </ul>
    </form>
    <div style="display: none">
        @Html.AntiForgeryToken()
    </div>
}
else
{
    <ul class="nav navbar-top-links navbar-account">
        <li><a href="/Account/Register"><i class="fa fa-user"></i>Зарегистрироваться</a></li>
        <li><a href="/Account/Login"><i class="fa fa-sign-in"></i>Войти</a></li>
    </ul>
}
