@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Вы заблокированы";
}

<hgroup>
    <h1 class="text-danger">Вы заблокированы.</h1>
    <h2 class="text-danger">Этот акаунт был заблокирован, попробуйте зайти на сайт позднее.</h2>
</hgroup>
