<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://readthenews.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>readthenews.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ReadTheNews</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ReadTheNews</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:vr4vdfx9rz.database.windows.net,1433;Initial Catalog=ReadTheNews_db;User ID=max.mrtnv@vr4vdfx9rz;Password=m@keA4@ng!" Name="Data Source=tcp:vr4vdfx9rz.database.windows.net,1433;Initial Catalog=ReadTheNews_db;User Id=max.mrtnv@vr4vdfx9rz;Password=m@keA4@ng!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ReadTheNews.Models.RssContext, ReadTheNews" MigrationConfiguration="ReadTheNews.Migrations.Configuration, ReadTheNews" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vr4vdfx9rz.database.windows.net,1433;Initial Catalog=ReadTheNews_db;User Id=max.mrtnv@vr4vdfx9rz;Password=m@keA4@ng!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>