@using ReadTheNews.Models
@{
    ViewBag.Title = "RSS-Каналы";
}

<h2>@ViewBag.RssChannelTitle</h2>

<div>
    <h4>Данные о Rss-канале</h4>
    <hr />
    
    <p>@ViewBag.RssChannelTitle</p>
    <p>@ViewBag.RssChannelDescription</p>
    

</div>