@using ReadTheNews.Models.RssModels

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="col-md-9">
    <form action="/Home/GetNews" class="form-inline" data-ajax="true" data-ajax-mode="replace"
          data-ajax-update="#news" id="form0" method="post">
        <div class="form-group">
            <input type="text" name="url" class="form-control" placeholder="Введите адрес rss-канала">
        </div>
        <button type="submit" class="btn btn-primary">Получить Rss-канал</button>
    </form>

    @{Html.RenderPartial("GetNews");}
</div>
<script type="text/javascript">
    function OnBegin() {
        alert("Происходит отправка запроса");
    }
    function OnSuccess(data) {
        alert("Запрос был успешно выполнен. Получены следующие данные: \n" + data);
    }
    function OnFailure(request, error) {
        $("#results").html("Запрос не выполнен");
    }
    function OnComplete(request, status) {
        alert("Статус запроса : " + status);
    }
</script>
<aside class="col-md-3">
    <ul>
        @foreach (RssChannel channel in ViewBag.RssChannels)
        {
            <li>
                @Ajax.ActionLink(channel.Title, "GetNews", new { id = channel.Id }, new AjaxOptions()
           {
               HttpMethod = "GET",
               UpdateTargetId = "news",
               LoadingElementId = "loading",
               LoadingElementDuration = 1000,
               OnBegin = "OnBegin",
               OnFailure = "OnFailure",
               OnSuccess = "OnSuccess",
               OnComplete = "OnComplete"
           })
        </li>
        }
    </ul>
</aside>

@section scripts{
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}