@using ReadTheNews.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Войти | Read The News</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/stylesInspinia.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
</head>
<body>

<div class="login-cover">
    <div class="login-cover-image">
        <img src="~/Content/Images/login-bg.jpg"/>
    </div>
    <div class="login-cover-bg"></div>
</div>

<div id="page-container" class="fade in">
    <div class="login animated flipInX" data-pageload-addclass="animated flipInX">
        <div class="login-header">
            <div class="brand">
                <span class="logo"></span>
                Read The News
                <small>Актуальные новости в удобном формате</small>
            </div>
            <div class="icon"><i class="fa fa-sign-in"></i></div>
        </div>
        <div class="login-content">
            
            <form action="/Acount/Login" method="POST" class="margin-bottom-0">
                <div class="form-group m-b-20">
                    <input type="text" class="form-control input-lg" placeholder="Email Address">
                </div>
                <div class="form-group m-b-20">
                    <input type="text" class="form-control input-lg" placeholder="Password">
                </div>
                <div class="checkbox m-b-20">
                    <label>
                        <input type="checkbox"> Remember Me
                    </label>
                </div>
                <div class="login-buttons">
                    <button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
                </div>
                <div class="m-t-20">
                    Все еще нет акаунта? Кликни <a href="#">здесь</a> для регистрации.
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
